/.settings
.project
.buildpath
*.sublime-workspace
*.sublime-project

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
.DS_Store
,*
*.lock
*.swp
*.out
fabfile.pyc

/dist
/lib
/public/dist
/public/images
/public/data
/public-admin/dist
vendor
node_modules
bower_components
tmp/*
