<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="<%= basepath %>dist/welean2-game.css" />

        <script type="text/javascript" src="<%= basepath %>dist/welean2-game.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Dites-nous qui vous êtes</h1>
            <form action="" method="POST">
                <div class="input text">
                    <label for="inputName">Votre Nom</label>
                    <input id="inputName" name="name" autofocus/>
                </div>
                <div class="submit">
                    <input type="submit" value="Valider">
                </div>
            </form>
        </div>
    </body>

    <script type="text/javascript">
        client = "device";
        token = "<%= token %>";
    </script>
</html>
